@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.cds-form-field {
  width: 100%;
}

.cds-native-select {
  appearance: none;
  width: 100%;
  background: var(--color-bg);
  color: var(--color-fg);
  border: var(--borderWidth-100) solid var(--color-bgLineHeavy);
  border-radius: var(--borderRadius-200);
  padding: var(--space-2);
  font-family: var(--fontFamily-body);
  font-size: var(--fontSize-body);
  line-height: var(--lineHeight-body);
  outline: none;
  padding-inline-end: var(--space-6);
}

.cds-native-select[data-active='true'] {
  background: var(--color-bgPrimaryWash);
  border-color: var(--color-bgLinePrimary);
}

.cds-native-select:focus-visible {
  border-color: var(--color-bgLinePrimary);
  box-shadow: 0 0 0 var(--borderWidth-200) var(--color-bgLinePrimarySubtle);
}

.cds-native-select-icon {
  align-items: center;
  bottom: 0;
  display: flex;
  pointer-events: none;
  position: absolute;
  right: var(--space-2);
  top: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
